.container1{
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-position: 50% 55%;
 background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/f8e1edc8e0855989a8c7ab3e/485134-PGR103-853-min.jpg);

}